body {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color:
}

h1 {
  font-size: 24 px;
  font-weight: bold;
  color: blue;
  text-align: left;
}

p{
  font-size: 20 px;
  font-weight: 400;
  color: black;
  text-align: left;
}

#nav li {
  list-style-type: none;
}

img {
  border: none;
}
